**/.build/
*.salive
detection.exe
TimerNTP/loooog2.txt
RaspberryPi/sip/sip_receiver
RaspberryPi/sip/build/*
materials/~*
# ustawienia lokalne Android Studio
Android/.idea/*
RaspberryPi/aqua_topic_provider/provider
Android/app/src/main/res/raw/ca.crt
.codex

